/* src/pages/Flight.module.css */

.flight {
  display: flex;
  flex-direction: column; /* Permite que o conteúdo ocupe o restante da altura */
  min-height: 100vh; /* Garante que o componente ocupe pelo menos 100% da altura da tela */
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #555;

    margin-bottom: 15px;
  }
  
  .highlight {
    color: #007bff;
    font-weight: bold;
  }
  