/* src/components/Navbar.module.css */

.navbar {
  background-color: black ;
}

.navbar .nav-link {
  color: var(--base-white) ;
  font-size: 1.25rem;
  margin: 1.5rem;
  text-decoration: none; /* Remover o sublinhado original */
  position: relative; /* Necessário para o pseudo-elemento */
  transition: color 0.3s ease; /* Transição suave da cor */
}

.navbar .nav-link::after {
  content: ''; /* Adiciona um pseudo-elemento */
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px; /* Espessura do sublinhado */
  background-color: var(--base-white);
  transform: scaleX(0); /* Inicialmente, o sublinhado está com escala 0 */
  transform-origin: bottom right; /* Origem da transformação na parte inferior direita */
  transition: transform 0.3s ease; /* Transição suave para o sublinhado */
}

.navbar .nav-link.active {
  font-weight: bold;
 
}

.navbar .nav-link.active::after {
  transform: scaleX(1); /* Quando o link é ativo, o sublinhado é expandido */
  transform-origin: bottom left; /* O sublinhado se expande da esquerda para a direita */
}
