/* src/components/Sticker.module.css */

.sticker {
    display: flex;
    gap: 1rem; /* Espaçamento entre os ícones */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Alinha os ícones verticalmente */
    padding: 10px;


  }
  
  .icon {
    color: var(--base-gray);
    font-size: 1.5rem; /* Tamanho do ícone */
    transition: color 0.3s ease; /* Transição suave para a cor */
  }
  
  .icon:hover {
    color: var(--deep-blue);
  }
  